header
{ 
    background-image:linear-gradient();
    height: 300px;
}
.barrasuperior
{
    display: flex;
    flex-direction: row;
    background-color:honeydew;
    border: 3px solid chartreuse;
}
.itensmenu
    {
        width: 25%;
        background-color: aqua
        border: 3px solid midnightblue; 
        height: 63px;
.corpo
{
    height: 620px;
}
    }
.footer
    {
        background-color:skyblue
        heigh: 40px;
        border: 3px solid black;
    }
    