.elitastravel
{
    background-color: rgba(78, 179, 220, 0.801);
    margin: 5px;
    border: 2px solid black;
    height: 100px;
    text-align: left;
}
.estoque
{
    display: flex;
    flex-direction: row;
    background-color: rgb(75, 159, 215);
    border: 3px solid black;
}
.maverick
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px;
    float: right;
}
.duster 
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px;
    
    
}
.frogger
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px;
    float: right;
    height: max-content;
}
.mallard
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px; 
}
.vestra
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px;
}
.besra
{
    text-align: left;
    background-color: rgb(119, 191, 227);
    margin: 55px;
    border: 2px solid black;
    width: 145px;
    float: right;
}